### Data Exploration 
is nothing but inital data analysis data by user to make sure everything fall into place
Becuase once's data fed to the machine for training it will learn whatever it feded

How to Grab/ get the data 

**Web Scaping -> Beautiful Soup, requests, Scapy -> Web Automation Using Selenium**

In [2]:
import pandas as pd
from sklearn.datasets import fetch_openml, load_diabetes

***Scikit-learn*** is probably the most useful library for machine learning in Python. The sklearn library contains a lot of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction

In [5]:
titanic= fetch_openml(name='titanic')

C:\Users\deep9\anaconda3\lib\site-packages\sklearn\datasets\_openml.py:404: UserWarning: Multiple active versions of the dataset matching the name titanic exist. Versions may be fundamentally different, returning version 2.
  warn("Multiple active versions of the dataset matching the name"

In [4]:
titanic

{'data':        Class    Age    Sex
 0    -1.8700 -0.228  0.521
 1    -0.9230 -0.228 -1.920
 2    -0.9230 -0.228 -1.920
 3     0.9650 -0.228  0.521
 4     0.0214 -0.228  0.521
 ...      ...    ...    ...
 2196  0.9650 -0.228  0.521
 2197 -0.9230 -0.228  0.521
 2198 -1.8700 -0.228  0.521
 2199  0.9650 -0.228  0.521
 2200 -0.9230 -0.228 -1.920

 [2201 rows x 3 columns],
 'target': 0       -1
 1        1
 2        1
 3        1
 4       -1
         ..
 2196    -1
 2197    -1
 2198    -1
 2199    -1
 2200     1
 Name: class, Length: 2201, dtype: category
 Categories (2, object): ['-1', '1'],
 'frame':        Class    Age    Sex class
 0    -1.8700 -0.228  0.521    -1
 1    -0.9230 -0.228 -1.920     1
 2    -0.9230 -0.228 -1.920     1
 3     0.9650 -0.228  0.521     1
 4     0.0214 -0.228  0.521    -1
 ...      ...    ...    ...   ...
 2196  0.9650 -0.228  0.521    -1
 2197 -0.9230 -0.228  0.521    -1
 2198 -1.8700 -0.228  0.521    -1
 2199  0.9650 -0.228  0.521    -1
 2200 -0.9230 -0.228 -1.920     1

 [2201 rows x 4 columns],
 'categories': None,
 'feature_names': ['Class', 'Age', 'Sex'],
 'target_names': ['class'],
 'DESCR': 'PMLB version of the Titanic dataset, which only uses 3 features. See version 1 for the complete version: https://www.openml.org/d/40945\n\nDownloaded from openml.org.',
 'details': {'id': '40704',
  'name': 'Titanic',
  'version': '2',
  'description_version': '1',
  'format': 'ARFF',
  'upload_date': '2017-04-06T12:38:28',
  'licence': 'public',
  'url': 'https://www.openml.org/data/v1/download/4965305/Titanic.arff',
  'file_id': '4965305',
  'default_target_attribute': 'class',
  'tag': 'derived',
  'visibility': 'public',
  'status': 'active',
  'processing_date': '2018-10-04 07:15:38',
  'md5_checksum': '08416114dd85d0ebd932fcb1d87650c1'},
 'url': 'https://www.openml.org/d/40704'}

In [7]:
titanic.feature_names

['Class', 'Age', 'Sex']

In [8]:
titanic.target

0       -1
1        1
2        1
3        1
4       -1
        ..
2196    -1
2197    -1
2198    -1
2199    -1
2200     1
Name: class, Length: 2201, dtype: category
Categories (2, object): ['-1', '1']

In [10]:
df = pd.DataFrame(data=titanic.data, columns=titanic.feature_names)

In [11]:
df.head()

    Class    Age    Sex
0 -1.8700 -0.228  0.521
1 -0.9230 -0.228 -1.920
2 -0.9230 -0.228 -1.920
3  0.9650 -0.228  0.521
4  0.0214 -0.228  0.521

In [12]:
df1= load_diabetes()

In [13]:
df1.data

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990842, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06832974, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286377, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04687948,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452837, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00421986,  0.00306441]])

In [16]:
df2 = pd.DataFrame(data=df1.data, columns=df1.feature_names)

In [17]:
df2.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [22]:
data= pd.read_csv("diabetes.csv")

In [23]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [28]:
data.shape

(768, 9)

In [31]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64