# Basic Statistical Analysis

# Mean

In [1]:
import numpy as np

In [2]:
np.mean([1,2,3,4,5,6,7,8,9,10])

5.5

# Median

In [3]:
np.median([1,2,3,4,5,6,7,8,9])

5.0

In [4]:
np.median([1,2,3,4,5,6,7,8,9,10])

5.5

# Mode

In [5]:
from scipy import stats
stats.mode([1,2,3,4,4,4,5,6,7,8,9,10])

ModeResult(mode=array([4]), count=array([3]))

# Varience

In [6]:
a = np.var([1,2,3,4,5,6,7,8,9,10])
print(a)

8.25

In [7]:
a**0.5

2.8722813232690143

# Standard Daviation

In [8]:
np.std([1,2,3,4,5,6,7,8,9,10])

2.8722813232690143

# Skewness

In [9]:
from scipy.stats import skew
skew([88, 85, 82, 97, 67, 77, 74, 86, 81, 95, 77, 88, 85, 76, 81],bias=False)

0.0326966578855933

# Kurtosis

In [10]:
from scipy.stats import kurtosis
kurtosis([88, 85, 82, 97, 67, 77, 74, 86, 81, 95, 77, 88, 85, 76, 81],bias=False)

0.11815715154945083

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame()
df['Column1'] = np.random.randint(1,100,10)
df['Column2'] = np.random.randint(1,100,10)
df['Column3'] = np.random.randint(1,100,10)
df['Column4'] = np.random.randint(1,100,10)
df['Column5'] = np.random.randint(1,100,10)
df['Column6'] = np.random.randint(1,100,10)
df['Column7'] = np.random.randint(1,100,10)
df['Column8'] = np.random.randint(1,100,10)
df['Column9'] = np.random.randint(1,100,10)
df['Column10'] = np.random.randint(1,100,10)

In [13]:
df

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,22,62,33,92,66,12,45,99,83,80
1,85,32,45,24,95,94,73,61,26,80
2,96,1,19,41,99,58,60,13,44,18
3,61,48,89,41,42,8,61,37,58,73
4,29,6,42,98,71,51,60,7,7,21
5,30,57,67,45,37,26,86,79,54,63
6,12,6,94,23,59,3,40,85,70,47
7,1,55,38,58,81,50,44,51,38,69
8,63,91,68,18,17,28,56,32,75,20
9,40,70,89,29,11,2,14,13,80,8

# Correlation

In [14]:
df.corr()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
Column1,1.000000,-0.132197,-0.212792,-0.412981,0.195992,0.468115,0.350709,-0.422429,-0.151424,-0.195490
Column2,-0.132197,1.000000,0.263455,-0.187176,-0.694873,-0.339329,-0.177060,0.127583,0.579669,0.091052
Column3,-0.212792,0.263455,1.000000,-0.527251,-0.746969,-0.674299,-0.290855,0.069414,0.473041,-0.099314
Column4,-0.412981,-0.187176,-0.527251,1.000000,0.301581,0.025846,0.042207,0.043312,-0.325878,0.154243
Column5,0.195992,-0.694873,-0.746969,0.301581,1.000000,0.723818,0.318706,0.094845,-0.631940,0.337683
Column6,0.468115,-0.339329,-0.674299,0.025846,0.723818,1.000000,0.510076,-0.197331,-0.776755,0.141329
Column7,0.350709,-0.177060,-0.290855,0.042207,0.318706,0.510076,1.000000,0.184214,-0.491993,0.391213
Column8,-0.422429,0.127583,0.069414,0.043312,0.094845,-0.197331,0.184214,1.000000,0.361130,0.745502
Column9,-0.151424,0.579669,0.473041,-0.325878,-0.631940,-0.776755,-0.491993,0.361130,1.000000,-0.043649
Column10,-0.195490,0.091052,-0.099314,0.154243,0.337683,0.141329,0.391213,0.745502,-0.043649,1.000000

#  Covarience

In [15]:
df.cov()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
Column1,980.988889,-126.355556,-177.288889,-363.122222,187.533333,436.022222,216.211111,-432.477778,-118.055556,-175.011111
Column2,-126.355556,931.288889,213.866667,-160.355556,-647.822222,-307.955556,-106.355556,127.266667,440.333333,79.422222
Column3,-177.288889,213.866667,707.600000,-393.733333,-607.022222,-533.422222,-152.288889,60.355556,313.222222,-75.511111
Column4,-363.122222,-160.355556,-393.733333,788.100000,258.644444,21.577778,23.322222,39.744444,-227.722222,123.766667
Column5,187.533333,-647.822222,-607.022222,258.644444,933.288889,657.600000,191.644444,94.711111,-480.555556,294.866667
Column6,436.022222,-307.955556,-533.422222,21.577778,657.600000,884.400000,298.577778,-191.822222,-575.000000,120.133333
Column7,216.211111,-106.355556,-152.288889,23.322222,191.644444,298.577778,387.433333,118.522222,-241.055556,220.100000
Column8,-432.477778,127.266667,60.355556,39.744444,94.711111,-191.822222,118.522222,1068.455556,293.833333,696.522222
Column9,-118.055556,440.333333,313.222222,-227.722222,-480.555556,-575.000000,-241.055556,293.833333,619.611111,-31.055556
Column10,-175.011111,79.422222,-75.511111,123.766667,294.866667,120.133333,220.100000,696.522222,-31.055556,816.988889

# PCA

In [16]:
df.head()

,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8,Column9,Column10
0,22,62,33,92,66,12,45,99,83,80
1,85,32,45,24,95,94,73,61,26,80
2,96,1,19,41,99,58,60,13,44,18
3,61,48,89,41,42,8,61,37,58,73
4,29,6,42,98,71,51,60,7,7,21

In [17]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 3)

In [18]:
df1 = pca.fit_transform(df)

In [19]:
df1

array([[-11.0398474 ,  50.47862226,   1.71734773],
       [ 87.22177979,   4.53638085,   7.60185451],
       [-34.26974661,  39.93468123, -52.09301092],
       [-13.72591663,  11.87753235,  80.0359094 ],
       [-76.3906336 , -37.59498003,  15.66444424],
       [  2.2789252 , -47.19327889, -23.84191294],
       [-17.73590936, -31.66155176,  -3.1741382 ],
       [ -1.09107116,  58.87744218,  -4.29092477],
       [ 23.44859004, -26.09536736, -42.12812313],
       [ 41.30382974, -23.15948085,  20.50855408]])

# Boxplot

In [20]:
def boxplot(df):
    print()
    print()
    print("Boxplot Analysis for column : \n",df)
    Q1 = df.quantile(0.25)
    median = df.quantile(0.50)
    Q3 = df.quantile(0.75)

    IQR= Q3-Q1

    Lower_Whiskers = df.quantile(0.25) - (1.5*IQR)
    upper_Whiskers = df.quantile(0.75) + (1.5*IQR)
    print()
    print()

    print("Q1 : ",Q1)
    print("Median : ",median)
    print("Q3 : ",Q3)
    print("IQR : ",IQR)
    print("Lower Whiskers : ",Lower_Whiskers)
    print("Upper Whiskers : ",upper_Whiskers)
    print("Minimum : ",min(df))
    print("Maximum : ", max(df))

In [21]:
boxplot(df['Column1'])

Boxplot Analysis for column :
 0    50
1    75
2    14
3    93
4    95
5    76
6    60
7    59
8    53
9    93
Name: Column1, dtype: int32


Q1 :  54.5
Median :  67.5
Q3 :  88.75
IQR :  34.25
Lower Whiskers :  3.125
Upper Whiskers :  140.125
Minimum :  14
Maximum :  95

In [22]:
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [ ]:
px.box(df, y='Column1', points='all')

# Outliers

In [ ]:
def outliers(df, variable):
    upper_limit = df[variable].mean() - 1 * df[variable].std()
    lower_limit = df[variable].mean() + 2 * df[variable].std()
    
    return upper_limit, lower_limit

In [ ]:
def whiskers(df, variable):
    IQR = df[variable].quantile(0.75) - df[variable].quantile(0.25)
    
    lower_whiskers = df[variable].quantile(0.25) - (1.5*IQR)
    upper_whiskers = df[variable].quantile(0.75) + (1.5*IQR)
    
    return lower_whiskers,upper_whiskers

In [ ]:
df.Column2

In [ ]:
whiskers(df,'Column2')

In [ ]:
outliers(df,'Column2')

# Example

In [ ]:
l=88, 85, 82, 97, 67,445,676, 77, 74, 86, 81, 95, 77, 88, 85, 76, 81,434,0,1313,121,1223,2121,0,3
df1=pd.DataFrame()
df1['Column1']=l

In [ ]:
df1.head()

In [ ]:
px.box(df1, y='Column1', points='all')

### Upper and lower limits

In [ ]:
whiskers(df1,'Column1')

In [ ]:
df1.median()

In [ ]:
df1.head()

### Outliar less than lower limit

In [ ]:
df1[df1['Column1']<11]

### Outliars greater than Higher Limit

In [ ]:
df1[df1['Column1']>187]

### Median

In [ ]:
df1['Column1'].median()

## Replacing Medians in the places of outliers

In [ ]:
df1.loc[df1["Column1"] < 11] = df1['Column1'].median()
df1.loc[df1["Column1"] > 187] = df1['Column1'].median()

In [ ]:
df1

In [ ]:
px.box(df1, y='Column1', points='all')